#thumbnails {
  width: 80%;
  margin: 0 auto;
}

.thumbnail {
  margin: auto 10px;
}

#largeview {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
  border: 2px solid white;
  width: auto;
  height: auto;
  text-align: center;
  background: rgba(0,0,0,0.7);
  .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  img {
    display: block;
    margin: 0 auto;
  }
  .close {
    position: fixed;
    top: 5px;
    right: 5px;
  }
  .left {
    position: fixed;
    top: 50%;
    left: 10px;
    height: 100px;
  }
  .right {
    position: fixed;
    top: 50%;
    right: 10px;
    height: 100px;
  }
}

svg.icon {
  width: 40px;
  height: 40px;
  fill: rgba(255,255,255,0.6);
  &:hover {
    background: rgb(50,50,50);
    background: rgba(50,50,50,0.6);
  }
}