#thumbnails {
  width: 80%;
  margin: 0 auto;
}

.thumbnail {
  margin: auto 10px;
}

#largeview {
  visibility: hidden;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
  border: 2px solid white;
  width: auto;
  height: auto;
  text-align: center;
  background: rgba(0,0,0,0.7);
  .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  img {
    max-width: 100%;
  }
  .close {
    position: fixed;
    top: 0px;
    right: 2px;
  }
  .left {
    position: fixed;
    top: 50%;
    left: 10px;
  }
  .right {
    position: fixed;
    top: 50%;
    right: 10px;
  }
}

svg.icon {
  width: 50px;
  height: 50px;
  fill: rgba(255,255,255,0.6);
  &:hover {
    fill: rgba(200, 25, 25, 0.6);
  }
}